<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <!-- Exibir mensagens Flash -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="/login">
        <label for="nome">Nome de usuário:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br><br>

        <input type="submit" value="Entrar">
    </form>

    <!-- Adicionar um link para a tela de cadastro -->
    <p>Não tem uma conta? <a href="/cadastrar">Cadastre-se aqui</a></p>
</body>
</html>